@import 'mq-mixins';
.profile-wrapper{
    margin: 2rem;
    height: $height-w-header;
    .profile-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .logout-btn{
            color: rgb(224, 25, 10);
        }
    }
    .theme-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .theme-card{
            flex-basis: 100%;
            @include md {
                flex-basis: calc(50% - 1rem);
            }
        }
    }
}