@import 'mq-mixins';
.profile-container{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 2rem;
    height: $height-w-header;
    .user-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logout-btn{
        color: rgb(224, 25, 10);
    }

}