@import 'mq-mixins';
.theme-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .mat-mdc-card-content{
        height: inherit;
        max-height: 100px;
        .theme-content{
            height: inherit;
            max-height: 100px;
            white-space:pre-wrap;
        }
    }
}