<mat-card
    class="article-item"
    (click)="goToDetail(article.id)"
>
    <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-subtitle>
            <span>Date: {{article.createdAt | date}}</span>
            <span>
                Auteur: 
                <span
                    *ngIf="user; else notFound"
                >
                    {{ user.username }}
                </span>
                <ng-template
                    #notFound
                >
                    <span
                        Inconnu
                    ></span>
                </ng-template>
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ article.content }} 
        </p>
    </mat-card-content>
</mat-card>
