<div 
*ngIf="comments$ | async as comments; else noComment"
    class="comments-wrapper"
>
    <h3 class="title">Commentaires</h3>
    <div 
        *ngIf="comments.length > 0; else noComment"
        class="comments-container"
    >
        <div 
            *ngFor="let comment of comments"
            class="comment"
        >
            <span class="username">{{ comment.author }}</span>
            <div class="content">{{comment.content}}</div>
        </div>
    </div>
    <div class="comment-form">
        <mat-form-field class="textarea">
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button 
            color="primary"
            mat-fab
            class="submit-btn"
        >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>
<ng-template
    #noComment
>
    <div 
        class="comments-container"
    >
        Aucun commentaire
    </div>    
</ng-template>
