<div class="comments-wrapper">
    <h3 class="title">Commentaires</h3>
    <div class="comments-container">
        <div class="comment">
            <span class="username">Username</span>
            <div class="content">Contenu du commentaire</div>
        </div>
    </div>
    <div class="comment-form">
        <mat-form-field class="textarea">
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button 
            color="primary"
            mat-fab
            class="submit-btn"
        >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>
