<app-header></app-header>

<div class="articles-wrapper">
    <div class="page-header">
        <button mat-raised-button color="primary">Créer un article</button>
        <span class="sort-button" (click)="updateOrder()">
            Trier par
            <button 
                *ngIf="sortOrder == 'desc'; else orderAsc"
                mat-icon-button
                
            >
                <mat-icon>
                    arrow_downward
                </mat-icon>
            </button>
            <ng-template
                #orderAsc
            >
                <button 
                    mat-icon-button
                >
                    <mat-icon
                        
                    >
                        arrow_upward
                    </mat-icon>
                </button>
            </ng-template>
        </span>
    </div>
    <div
        class="articles-container"
    >
        <article-card
            *ngFor="let article of (articles$ | async)"
            [article]="article"
            [isDetail]="false"
        ></article-card>
    </div>
</div>

