<div class="themes-container">
    <mat-card 
        *ngFor="let theme of (themes$ | async)"
        class="theme-card"
    >
        <mat-card-header>
            <mat-card-title>{{ theme.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p  class="theme-content" ellipsis>
                {{ theme.description }} 
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary"
                (click)="subscribe(theme.id)"
            >
                S'abonner
            </button>
        </mat-card-actions>
    </mat-card>
</div>