<div class="form-container">
    <h2>Créer un nouvel article</h2>
    <form 
        class="article-form" 
        [formGroup]="form" 
        (ngSubmit)="submit()"
        >
        <mat-form-field>
            <mat-label>Séléctionner un thème</mat-label>
            <mat-select formControlName="theme_id">
                <mat-option 
                    *ngFor="let theme of themes$ |async"
                    [value]="theme.id">{{theme.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="textarea-container">
        <mat-label>Contenu</mat-label>
        <textarea 
            matInput 
            formControlName="content" 
            class="textarea"
        ></textarea>
      </mat-form-field>
        <button 
            mat-raised-button 
            color="primary" 
            type="submit" 
            [disabled]="form.invalid"
            >
            Créer
        </button>
    </form>
</div>
